@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Neucha&display=swap');

:root {
    font-family: 'Neucha', sans-serif;
    --main-color: black;
    --accent-color : white;
    scroll-behavior: smooth;
    --animate-duration: 800ms;
    --animate-delay: 0.3s;
}

.row {
    --animate-duration: 5.5s;
}

body {
    max-width: 1080px;
    margin: auto;
}

h1, h2, p, div {
    margin : 0;
    padding: 0;
}

#carouselExampleCaptions > div > div:nth-child(1) > img {
    min-height: 500px;
    max-height: 450px;
    background-position: bottom;
    background-size: cover;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

#carouselExampleCaptions > div > div.carousel-item.active > div > p {
    color : var(--accent-color);
    font-size: 1rem;
    letter-spacing: 0.105rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

#carouselExampleCaptions > div > div:nth-child(2) > img {
    min-height: 500px;
    max-height: 450px;
    background-position: bottom;
    background-size: cover;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

#carouselExampleCaptions > div > div:nth-child(3) > img {
    min-height: 500px;
    max-height: 450px;
    background-position: bottom;
    background-size: cover;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}


#carouselExampleCaptions > div > div.carousel-item.active > div > div > h5{
    color : var(--accent-color);
    font-family: 'Bangers', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 0.3rem;
}

#carouselExampleCaptions > div > div.carousel-item.active > div > div > p {
    color: var(--accent-color);
    font-family: 'Neucha', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.110rem;
    text-transform: uppercase;
    text-decoration: transparent;
    text-align: center;
}

/*parameters for animation text*/
.text-rotation {
    color: var(--accent-color);
    font-family: 'Neucha', sans-serif;
    margin-bottom: 180px;
    display: grid;
    justify-content: space-around;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3.3s;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 2s;
}


/*nav panel*/


body > header > nav > a:nth-child(1) > img {
    position: relative;
    left: -18px;
    width : 100px;
    height : 50px;
}

.event {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    text-align: center;
    margin: 0 auto;
}

.button_for_event {
    background-color: skyblue;
    text-align: center;
    padding: 5px 10px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #666;
}

main {
    text-align: center;
}

.proposition {
    text-align: center;
    margin-top : 50px;
    font-size: 2rem;
    height: 40px;
}


#about {
    font-family: 'Neucha', sans-serif;
    font-size: 20px;
    margin-bottom: 6%;
}


.card {
    border: none;
}

.info {
    text-align: center;
    font-size: 1.4rem;
}

#rest {
    font-family: 'Neucha', sans-serif;
    margin-bottom: 5%;
}

@media (max-width: 500px) {
    .rest {
        display: block;
        bottom: 10%;
    }
}

.popular {
    text-align: center;
    margin-top : 50px;
    font-size: 2rem;
    height: 40px;
}
	

h2 {
    color: white;
    background-color: black; 
}

.offer {
    font-family: 'Neucha', sans-serif;
    height: 75px;  
    margin-bottom: 5%;
}

.feedback {
    font-family: 'Neucha', sans-serif;
    margin-bottom: 80px; 
    text-align: center;
    font-size: 1.4rem;
}

@media (min-width : 320px) {
.wedding-photo {
    margin-top: 130px;
    }
}

.wedding-photo {
    margin-top : -3%;
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 55;
}

.area_text {
    float: left;
    padding: 5px 5px;
    width: 250px;
    height: 30px;
}

::placeholder {
    color: grey;
    font-size: 1rem;
    font-style: oblique;
}

input[type=button], input[type=submit] {
    background-color: skyblue;
    border: none;
    color: white;
    border: 3px solid #666; 
    border-radius: 10px;
    padding: 10px; 
    margin-left: 10px;   
}

.contact-info {
    text-align: center;
    margin-bottom: 2%;
}

.icon{
    width: 55px;
    height: 55px;
}

.our-contact {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5%;
}

.copyright {
    font-family: 'Neucha', sans-serif;
    text-align: center;
}

#map-container {
    width: 100%;
    height: 300px;
    margin-bottom: 2%;
}

.countdown-title {
    font-family: 'Neucha', sans-serif;
    color: rgb(221, 28, 14);
    font-weight: 100;
    font-size: 35px;
    margin: 40px 0px 20px;
  }
   
.countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
   
.countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #ff3e31;
    display: inline-block;
  }
   
.countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: rgb(221, 28, 14);
    display: inline-block;
  }
   
.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }