@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Neucha&display=swap');

:root {
    font-family: 'Neucha', sans-serif;
    --main-color: black;
    --accent-color : white;
    scroll-behavior: smooth;
    --animate-duration: 800ms;
    --animate-delay: 0.3s;
}

body {
    max-width: 1080px;
    margin: auto;
}

h1, h2, p, div {
    margin : 0;
    padding: 0;
}

#carouselExampleCaptions > div > div:nth-child(1) > img {
    min-height: 500px;
    max-height: 450px;
    background-position: bottom;
    background-size: cover;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

#carouselExampleCaptions > div > div.carousel-item.active > div > p {
    color : var(--accent-color);
    font-size: 1rem;
    letter-spacing: 0.105rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

#carouselExampleCaptions > div > div:nth-child(2) > img {
    min-height: 500px;
    max-height: 450px;
    background-position: bottom;
    background-size: cover;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

#carouselExampleCaptions > div > div:nth-child(3) > img {
    min-height: 500px;
    max-height: 450px;
    background-position: bottom;
    background-size: cover;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}


#carouselExampleCaptions > div > div.carousel-item.active > div > div > h5{
    color : var(--accent-color);
    font-family: 'Bangers', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 0.3rem;
}

#carouselExampleCaptions > div > div.carousel-item.active > div > div > p {
    color: var(--accent-color);
    font-family: 'Neucha', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.110rem;
    text-transform: uppercase;
    text-decoration: transparent;
    text-align: center;
}

/*parameters for animation text*/
.text-rotation {
    color: var(--accent-color);
    font-family: 'Neucha', sans-serif;
    margin-bottom: 180px;
    display: grid;
    justify-content: space-around;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3.3s;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 2s;
}




/*nav panel*/

.b-button > a:hover {
    border: 2px solid var(--main-color);
}

body > header > nav > a:nth-child(1) > img {
    position: relative;
    left: -18px;
    width : 100px;
    height : 50px;
}

.event {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    text-align: center;
    margin: 0 auto;
}

.button_for_event {
    background-color: skyblue;
    text-align: center;
    padding: 5px 10px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #666;
}

main {
text-align: center;
}

#about {
    text-align: center;
    margin-top : 50px;
    font-size: 20px;
    height: 200px;  
}


@media (min-width: 500px) {
    #rest {
        margin-top: 180px;
    }
}

.info {
    margin-bottom: 80px; 
    padding: 30px;
    text-align: center;
}

#rest {
	font-size: 20px;
	height:200px;
    margin-top: 320px;
}

.popular {
    text-align: center;
    margin-top: 150px;
}



#wedding {
    font-size: 20px;
	height:200px;

}	

h2 {
    color: white;
    background-color: black; 
}

.celebrate_wedding {
    text-align: center;
    margin-top: 20px;
}

@media (min-width : 320px) {
.wedding-photo {
    margin-top: 130px;
    }
}

.wedding-photo {
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 100%;
    top: 200px;
    left: 0px;
    z-index: 55;
}

.area_text {
    float: left;
    padding: 5px 5px;
    width: 250px;
    height: 30px;
}

::placeholder {
  color: grey;
  font-size: 1em;
  font-style: oblique;
}

input[type=button], input[type=submit] {
  background-color: skyblue;
  border: none;
  color: white;
   border: 3px solid #666; 
   border-radius: 10px;
    padding: 10px; 
    margin-left: 10px;   
}

.contact-info {
    text-align: center;
}

.icon-fb {
    width: 50px;
    height: 50px;
}

.our-contact {
    color: green;

}

.copyright {
    text-align: center;
}